<extend name="Public:decorator"/>
<block name="title">管理商品-商品库存管理-商品管理</block>
<block name="main">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6">商品管理</div>
                    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-6 text-right">
                        <a id="create" href="{:U('Goods/browse')}">返回</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <form action="{:U('Goods/manage')}" id="createGoodsForm" method="post" class="form-horizontal"
                          role="form">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group">
                                    <label for="goods_name" class="col-sm-2 control-label">商品名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="goods_name"  id="goods_name" placeholder="请输入商品名称" value="{$goods['goods_name']}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="goods_expiration_date" class="col-sm-2 control-label">保质期(年)</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="goods_expiration_date"  value="{$goods['goods_expiration_date']}"
                                               id="goods_expiration_date"
                                               placeholder="请输入保质期(年)">
                                    </div>
                                    <label for="goods_stock" class="col-sm-2 control-label">库存</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control " name="goods_stock" id="goods_stock"  value="{$goods['goods_stock']}"
                                               placeholder="请输入商品库存">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="goods_net_weight" class="col-sm-2 control-label">净含量(ml)</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="goods_net_weight" id="goods_net_weight"  value="{$goods['goods_net_weight']}"
                                               placeholder="请输入商品净含量(ml)">
                                    </div>
                                    <label for="goods_price" class="col-sm-2 control-label">单价</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="goods_price" id="goods_price"  value="{$goods['goods_price']}"
                                               placeholder="请输入商品单价">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="goods_type_id" class="col-sm-2 control-label">商品类别</label>
                                    <div class="col-sm-4">
                                        <select name="goods_type_id" id="goods_type_id" class="form-control">
                                            <volist name="goodsTypeList" id="value">
                                                <if condition="$key == $goods['goods_brand_id']"> value1
                                                    <option value="{$key}" selected="selected">{$value}</option>
                                                    <else />
                                                    <option value="{$key}">{$value}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </div>
                                    <label for="goods_home_id" class="col-sm-2 control-label">产地</label>
                                    <div class="col-sm-4">
                                        <select name="goods_home_id" id="goods_home_id" class="form-control">
                                            <volist name="goodsHomeList" id="value">
                                                <if condition="$key == $goods['goods_brand_id']"> value1
                                                    <option value="{$key}" selected="selected">{$value}</option>
                                                    <else />
                                                    <option value="{$key}">{$value}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="goods_brand_id" class="col-sm-2 control-label">品牌</label>
                                    <div class="col-sm-4">
                                        <select name="goods_brand_id" id="goods_brand_id" class="form-control">
                                            <volist name="goodsBrandList" id="value">
                                                <if condition="$key == $goods['goods_brand_id']"> value1
                                                    <option value="{$key}" selected="selected">{$value}</option>
                                                    <else />
                                                    <option value="{$key}">{$value}</option>
                                                </if>
                                            </volist>
                                        </select>
                                    </div>
                                    <label for="goods_fit_skin" class="col-sm-2 control-label">适用肤质</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" name="goods_fit_skin"  value="{$goods['goods_fit_skin']}"
                                               id="goods_fit_skin"
                                               placeholder="适用肤质">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="goods_effects" class="col-sm-2 control-label">商品功效</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" name="goods_effects" id="goods_effects" rows="3"
                                          placeholder="请输入商品功效">{$goods['goods_effects']}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="goods_description" class="col-sm-2 control-label">商品详情</label>
                                    <div class="col-sm-10">
                                        <textarea type="text" class="form-control" name="goods_description" id="goods_description" rows="3"
                                          placeholder="请输入商品详情">{$goods['goods_description']}</textarea>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <input type="hidden" name="goods_id" class="form-control" value="{$goods['goods_id']}" />
                                    
                                    <button id="btn-save" type="submit" class="btn btn-primary">保存</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
